<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Heath.Dlog.CodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Heath.Dlog.CodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Heath.Dlog.CodeGen.Properties.Settings>
      <setting name="FieldsToken" serializeAs="String">
        <value>{fields}</value>
      </setting>
    </Heath.Dlog.CodeGen.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Heath.Dlog.CodeGen.Properties.Settings>
      <setting name="PropertiesToken" serializeAs="String">
        <value>{properties}</value>
      </setting>
      <setting name="ClassNameToken" serializeAs="String">
        <value>{className}</value>
      </setting>
      <setting name="ConstructorToken" serializeAs="String">
        <value>{contructors}</value>
      </setting>
      <setting name="CreateMethodToken" serializeAs="String">
        <value>{createMethod}</value>
      </setting>
      <setting name="ReadMethodToken" serializeAs="String">
        <value>{readMethod}</value>
      </setting>
      <setting name="UpdateMethodToken" serializeAs="String">
        <value>{updateMethod}</value>
      </setting>
      <setting name="DeleteMethodToken" serializeAs="String">
        <value>{deleteMethod}</value>
      </setting>
    </Heath.Dlog.CodeGen.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>